coverage==4.5.1
cryptography==3.2
Django==2.2
django-clear-cache==0.3
django-crispy-forms==1.7.2
django-el-pagination==3.2.4
django-heroku==0.3.1
django-phone-field==1.8.1
djangorestframework==3.9.1
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
oauth2client==4.1.2
oauthlib==3.1.0
Pillow==7.0.0
PyQt5==5.14.1
pytz==2018.5
gunicorn==19.0.0
django-storages
boto3
google-cloud-storage
django-storages[google]