{% extends 'base.html' %} {% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container" style="margin-top: 150px;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url '/' %}" style="color: black; font-family: 'JetBrains Mono', monospace;">
              <i class="fas fa-home" style="color: black;"></i> Home </a>
          </li>
          <li class="breadcrumb-item active" style="color: black; font-family: 'JetBrains Mono', monospace;">About Us</li>
        </ol>
      </nav>
    </div>
  </section>

<section id="about" class="py-4" style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 style="font-family: 'Andika New Basic', sans-serif;">Search for or list homes, land, apartments or offices with us</h2>
        <p class="lead" style="font-size: 15px; font-family: 'JetBrains Mono', monospace;">
           Have you ever heard that not-so-surprising question: “Why are you raising your family in a 1,000 square foot apartment?” or “Aren’t you looking for a house?” or “Really, an apartment or a home for you, your spouse and your kids?!, how about a condusive office space”
        </p>
        <img src="{% static 'img/about.jpg' %}" alt="" />
        <p class="mt-4" style="font-size: 15px; font-family: 'JetBrains Mono', monospace;">
        While many go house hunting, we give you the convinience of finding your prefered property right from where you sit... <br> Or are you a property developer, realtor or agent, then have your property visible to potential buyers and occupants to maintain 100% occupancy always</p>
      </div>
      <div class="col-md-4">
        {% if mvp_realtors %}
        {% for realtor in mvp_realtors %}
        <div class="card">
            <img
              class="card-img-top"
              src="{{realtor.photo.url }}"
              alt="Seller of the month"
            />
        <div class="card-body">
            <h5 class="card-title">Seller Of The Month</h5>
            <h6 class="text-secondary">{{realtor.name}}</h6>
            <p class="card-text">
             {{realtor.description}}
            </p>
          </div>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center" style="font-family: 'Andika New Basic', sans-serif;">Our Realtors </h2>
    <div class="row text-center">
      {% if realtors %}
      {% for realtor in realtors %}
      
      <div class="col-md-4" style="font-size: 15px; font-family: 'JetBrains Mono', monospace;">
          <img
            src="{{realtor.photo.url}}"
            alt=""
            class="rounded-circle mb-3"
          />
          <h4>{{realtor.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor
          </p>
          <hr />
          <p><i class="fas fa-phone"></i>{{realtor.phone}}</p>
          <p><i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
        </div>

      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>No realtors Available</p>
      </div>
      {% endif %}


    </div>
  </div>
</section>


{% endblock %}
