{% extends 'base.html' %}
{% block content %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container" style="margin-top: 150px;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url '/' %}" style="color: black; font-family: 'JetBrains Mono', monospace;">
              <i class="fas fa-home" style="color: black;"></i> Home </a>
          </li>
          <li class="breadcrumb-item active" style="color: black; font-family: 'JetBrains Mono', monospace;"> My Realtors </li>
        </ol>
      </nav>
    </div>
  </section>

{% if realtors %}
<div align="center" class="float-center" style="margin-bottom: 400px !important; margin-top: 10px !important; margin: 0 auto; width: 60%;">
  <a href="{% url 'create_realtor' %}"><span class="badge badge-primary badge-pill" style="background-color: #31326f">Create New Realtor</span></a>
<table data-toggle="table" data-search="true" data-show-columns="false">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for realtor in realtors %}
  		<tr>
	      <td>{{ realtor.name }}</td>
	      <td>{{ realtor.email }}</td>
	      <td>{{ realtor.phone }}</td>
	      <td>{{ realtor.description }}</td>
	      <td><a href="{% url 'realtor_detail' realtor.id %}"><span class="badge badge-primary badge-pill" style="background-color: #31326f">View</span></a></td>
	  	</tr>
	{% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div align="center" class="float-center" style="margin-bottom: 350px !important; margin-top: 10px !important; margin: 0 auto; width: 60%;">
  <p style="font-family: 'JetBrains Mono', monospace; font-weight: bolder;">No Realtors Created yet</p>
  <a href="{% url 'create_realtor' %}"><span class="badge badge-primary badge-pill" style="background-color: #31326f">Create New Realtor</span></a>
</div>
{% endif %}
{% endblock %}